html {
    color: #222;
    font-family: 'open Sans', Verfana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

textarea {
    resize: vertical;
}

img {
    width: 100%;
}

h1 {
    color:#000;
}

/* LAYOUT */
.heading {
    text-align: center;
}




/* MODULES */




/* THEME */